{% if current_user.is_authenticated %}
  <!-- Usuario autenticado -->
  <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard') }}">Inicio</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('portafolio') }}">Portafolio</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('servicios') }}">Servicios</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('formacion') }}">Formación</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('presets') }}">Presets</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">Acerca de mí</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('contacto') }}">Contacto</a></li>

  {% if current_user.role == 'admin' %}
    <!-- Solo el admin ve esta opción -->
    <li class="nav-item"><a class="nav-link" href="{{ url_for('admin') }}">Administración</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('editar_usuario') }}">Editar Usuarios</a></li> <!-- Opción para editar usuarios -->
  {% endif %}

  <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
{% else %}
  <!-- Usuario no autenticado -->
  <li class="nav-item"><a class="nav-link" href="{{ url_for('portafolio') }}">Portafolio</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('servicios') }}">Servicios</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('preguntas_frecuentes') }}">FAQ</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">Acerca de mí</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('contacto') }}">Contacto</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Iniciar Sesión</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Registrarse</a></li>
{% endif %}
