{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<main class="d-flex justify-content-center align-items-center vh-100">
  <div class="card w-50 p-4 shadow-lg" style="transition: transform 0.3s ease-in-out;">
    
    <!-- Mensajes flash -->
    <div class="mb-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="alert alert-{{ messages[0][0] }} text-center" role="alert">
            {{ messages[0][1] }}
          </div>
        {% endif %}
      {% endwith %}
    </div>

    <div class="text-center">
      <img class="mb-4" 
           src="{{ url_for('static', filename='images/logo.jpg') }}" 
           alt="Logo" width="72" height="57">
    </div>

    <h1 class="h3 mb-3 fw-normal text-center">Iniciar Sesión</h1>

    <form method="POST">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" required>
        <label for="floatingInput">Correo Electrónico</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
        <label for="floatingPassword">Contraseña</label>
      </div>

      <div class="form-check text-start my-3">
        <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Recordarme
        </label>
      </div>

      <button class="btn btn-outline-secondary w-100 py-2" type="submit">Ingresar</button>

      <p class="mt-5 mb-3 text-body-secondary text-center">&copy; 2025</p>
    </form>
  </div>
</main>

<style>
  /* Estilo para los mensajes flash centrados */
  .alert {
    font-weight: bold;
    font-size: 1rem;
    margin: 0 auto;
    width: 80%; /* Ajusta el ancho si lo necesitas */
  }
</style>

{% endblock %}
