{% extends 'base.html' %}

{% block title %}Creación de Videos Publicitarios Profesionales{% endblock %}

{% block content %}
<!-- Sección de encabezado -->
<!-- Sección de encabezado -->
<section class="hero bg-white text-dark py-5">
    <div class="container text-center">
      <h1 class="display-4" style="font-family: 'Playfair Display', serif; font-weight: bold; font-size: 3rem;">Transforma tu Marca con Videos Publicitarios Impactantes</h1>
      <p class="lead" style="font-family: sans-serif; color: #000;">Nos especializamos en crear videos publicitarios que cautivan, comunican y convierten. Llevamos tu mensaje a tu audiencia de manera eficaz y profesional.</p>
      <a class=" btn btn-dark btn-lg mt-3" style="font-family: sans-serif;" href="{{ url_for('tasks.servicios') }}">Ver Nuestros Servicios</a>
    </div>
  </section>
  
<!-- Sección de Introducción -->
<div class="row">
    <div class="col-lg-4">
      <div class="card mb-4 shadow-sm border-0" style="background-color: #1f1f1f; color: white;">
        <iframe width="100%" height="450" 
                src="https://www.youtube.com/embed/B0voMDz4pdg?si=QBZ7-7zE2N4FMeA4&controls=0&autoplay=1&start=6" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'Luxurious Roman', sans-serif; color: #fff;">Eficacia Probada 1</h5>
          <p class="card-text" style="font-family: 'Luxurious Roman', sans-serif; color: #ccc;">Estudios demuestran que el 80% de los consumidores recuerdan un anuncio en video, mientras que solo el 20% recuerda anuncios estáticos.</p>
        </div>
      </div>
    </div>
  
    <div class="col-lg-4">
      <div class="card mb-4 shadow-sm border-0" style="background-color: #1f1f1f; color: white;">
        <iframe width="100%" height="450" 
                src="https://www.youtube.com/embed/rIUOFcHKvAU?si=ZlWwGMoqAN_ycWE6&controls=0&autoplay=1&start=6" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'Luxurious Roman', sans-serif; color: #fff;">Eficacia Probada 2</h5>
          <p class="card-text" style="font-family: 'Luxurious Roman', sans-serif; color: #ccc;">El 80% de los consumidores prefieren anuncios en video que muestran productos o servicios en acción.</p>
        </div>
      </div>
    </div>
  
    <div class="col-lg-4">
      <div class="card mb-4 shadow-sm border-0" style="background-color: #1f1f1f; color: white;">
        <iframe width="100%" height="450" 
                src="https://www.youtube.com/embed/xPPLbEFbCAo?si=Vlr4Bt3VATMslt_L&controls=0&autoplay=1&start=6" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'Luxurious Roman', sans-serif; color: #fff;">Eficacia Probada 3</h5>
          <p class="card-text" style="font-family: 'Luxurious Roman', sans-serif; color: #ccc;">El contenido visual y en video tiene un impacto mucho mayor en la memoria y la retención de información.</p>
        </div>
      </div>
    </div>
  
    <div class="col-lg-4">
      <div class="card mb-4 shadow-sm border-0" style="background-color: #1f1f1f; color: white;">
        <iframe width="100%" height="450" 
                src="https://www.youtube.com/embed/qvFnf2EEd20?si=O46eNS1CfTfy0GOU&controls=0&autoplay=1&start=6" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'Luxurious Roman', sans-serif; color: #fff;">Eficacia Probada 4</h5>
          <p class="card-text" style="font-family: 'Luxurious Roman', sans-serif; color: #ccc;">El 70% de los consumidores prefieren ver videos de productos antes de tomar una decisión de compra.</p>
        </div>
      </div>
    </div>
  </div>
  
</section>

<<!-- Sección de Testimonios -->
<section class="py-5" style="background-color: #1f1f1f;">
    <div class="container text-center">
      <h2 class="display-4 mb-4" style="font-family: 'Luxurious Roman', sans-serif; color: #fff;">TESTIMONIOS</h2>
      <div class="row d-flex justify-content-center">
        <div class="col-md-4 mb-4">
          <div class="testimonial bg-dark p-4 shadow-sm rounded d-flex flex-column align-items-center" style="color: white; height: 100%;">
            <img src="{{ url_for('static', filename='images/mujer/m39.jpeg') }}" class="img-fluid rounded-circle mb-3" width="250" height="250" alt="Cliente 1" style="object-fit: cover; border: 4px solid #004b87;">
            <p class="lead" style="font-family: 'Luxurious Roman', sans-serif;">"Gracias a su increíble video publicitario, nuestra marca logró aumentar la visibilidad y ventas en un 50% en solo 3 meses."</p>
            <h5 style="font-family: 'Luxurious Roman', sans-serif;">Juana Santaolaya</h5>
            <p class="text-muted" style="font-family: 'Luxurious Roman', sans-serif;">CEO, Marca XYZ</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="testimonial bg-dark p-4 shadow-sm rounded d-flex flex-column align-items-center" style="color: white; height: 100%;">
            <img src="{{ url_for('static', filename='images/mujer/m38.jpeg') }}" class="img-fluid rounded-circle mb-3" width="250" height="250" alt="Cliente 2" style="object-fit: cover; border: 4px solid #004b87;">
            <p class="lead" style="font-family: 'Luxurious Roman', sans-serif;">"El equipo supo captar nuestra esencia y transmitirla perfectamente a través del video. ¡Recomiendo ampliamente sus servicios!"</p>
            <h5 style="font-family: 'Luxurious Roman', sans-serif;">Ana Torres</h5>
            <p class="text-muted" style="font-family: 'Luxurious Roman', sans-serif;">Directora de Marketing, BrandCo</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="testimonial bg-dark p-4 shadow-sm rounded d-flex flex-column align-items-center" style="color: white; height: 100%;">
            <img src="{{ url_for('static', filename='images/mujer/m36.jpeg') }}" class="img-fluid rounded-circle mb-3" width="250" height="250" alt="Cliente 3" style="object-fit: cover; border: 4px solid #004b87;">
            <p class="lead" style="font-family: 'Luxurious Roman', sans-serif;">"Los resultados fueron impresionantes. Logramos llegar a nuestra audiencia objetivo de manera mucho más efectiva. ¡Estamos encantados!"</p>
            <h5 style="font-family: 'Luxurious Roman', sans-serif;">Alejandra Santa Maria</h5>
            <p class="text-muted" style="font-family: 'Luxurious Roman', sans-serif;">Fundador, TechSolutions</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<!-- Sección de Contacto -->
<section id="contacto" class="bg-dark text-white py-5">
  <div class="container text-center">
    <h2 class="display-4 mb-4" style="font-family: 'Luxurious Roman', sans-serif;">¿Estás listo para crear tu Video Publicitario?</h2>
    <p class="lead mb-4" style="font-family: 'Luxurious Roman', sans-serif;">Contáctanos y hablemos sobre cómo podemos ayudar a impulsar tu marca con un video publicitario profesional.</p>
    <a href="mailto:contacto@tuservicio.com" class="btn btn-light btn-lg" style="font-family: 'Luxurious Roman', sans-serif;">Contáctanos Ahora</a>
  </div>
</section>



<!-- Estilos adicionales para mejorar la responsividad -->
<style>
    @media (max-width: 768px) {
        .btn {
            font-size: 1rem;  /* Reduce el tamaño del texto en pantallas medianas */
            padding: 0.5rem 1rem;
        }
    }

    @media (max-width: 576px) {
        .d-flex {
            flex-direction: column;  /* Botones en columna en pantallas pequeñas */
            align-items: center;
        }

        .btn {
            width: 100%;  /* Botones ocupan todo el ancho */
            text-align: center;
            font-size: 0.9rem;  
        }
    }

    /* Efecto hover: color de fondo lleno */
    .btn:hover {
        background-color:rgb(26, 20, 99) !important;  
        color: white !important;
        border-color: #3730a3 !important;
    }
</style>

{% endblock %}
